
A:link {color: gray}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: teal}
	
Body {
	background-color: white;
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 50pt; text-align: right}
H2 {font-size: 25pt; text-align: right}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}


/* Desktop*/
@media screen and (max-width:1500px){
	H1{
		font-size: 50pt; 
	}

	H2{
		font-size: 25pt;
	}

	H3{
		font-size: 10pt;
	}

	H4{
		font-size: 10pt;
		text-align: center;
	}

	H5{
		font-size: 15;
	}

	body{
		width:auto
	}

	table{
		width: auto; 
	}

	center{
		width: auto;
	}
 }
 

 /*Tablets*/
 @media screen and (max-width:1000px){
	H1{
		font-size: 30pt; 
	}

	H2{
		font-size: 15pt;
	}

	H3{
		font-size: 5pt;
	}

	H4{
		font-size: 5pt;
	}

	H5{
		font-size: 15;
	}

	body{
		width: 50%; 
	}

	table{
		width: 50%; 
	}

	center{
		width: 50%;
	}
 }
 
 /* Phones*/
 @media screen and (max-width: 700px) {
	H1{
		font-size: 10pt; 
	}

	H2{
		font-size: 10pt;
	}

	H3{
		font-size: 5pt;
	}

	H4{
		font-size: 5pt;
	}

	H5{
		font-size: 10;
	}

	body{
		width:10%; 
	}

	table {
		width: 10%; 
	}

	center{
		width: 10%;
	}
 
 }